swagger: "2.0"
info:
  description: "."
  version: "1.0.0"
  title: "AGRONIC BIT NET API"
  termsOfService: ""
  contact:
    email: "info@progres.es"
host: "beta.progres.com"
basePath: "/v1"
tags:
- name: "Fertilizantes"
  description: "--"
- name: "General"
  description: "--"
- name: "Programas"
  description: "--"
- name: "Sensores"
  description: ""
schemes:
- "https"
paths: 
  /equipos/{id_equipo}/fertilizantes:
    get:
      tags:
      - "Fertilizantes"
      summary: "Obtener array de Fertilizantes"
      description: ""
      operationId: "getFertilizantes"
      produces:
      - "application/json"
      parameters:
      - name: "id_equipo"
        in: "path"
        description: "ID del equipo"
        required: true
        type: "integer"
        maximum: 99999
        minimum: 1
        format: "int64"
      responses:
        "405":
          description: "Invalid input"
        "200":
          description: "Fertilizantes encontrados"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Fertilizante"
  /equipos/{id_equipo}/fertilizantes/{id_fertilizante}:
    get:
      tags:
      - "Fertilizantes"
      summary: "Obtener Fertilizante por ID"
      description: ""
      operationId: "getFertilizanteId"
      consumes:
      - "application/json"
      parameters:
      - name: "id_equipo"
        in: "path"
        description: "ID del equipo"
        required: true
        type: "integer"
        maximum: 99999
        minimum: 1
        format: "int64"
      - name: "id_fertilizante"
        in: "path"
        description: "ID del fertilizante"
        required: true
        type: "integer"
        maximum: 20
        minimum: 1
        format: "int32"
      responses:
        "405":
          description: "Invalid input"
        "200":
          description: "Fertilizante encontrado"
          schema:
              $ref: "#/definitions/Fertilizante"
    post:
      tags:
      - "Fertilizantes"
      summary: "Enviar fertilizante al equipo"
      description: ""
      operationId: "enviarFertilizante"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id_equipo"
        in: "path"
        description: "ID del equipo"
        required: true
        type: "integer"
        maximum: 99999
        minimum: 1
        format: "int64"
      - name: "id_fertilizante"
        in: "path"
        description: "ID del fertilizante"
        required: true
        type: "integer"
        maximum: 20
        minimum: 1
        format: "int32"
      - in: "body"
        name: "body"
        description: "Objeto del fertilizante a enviar"
        required: true
        schema:
          $ref: "#/definitions/Fertilizante"
      responses:
        "200":
          description: "Guardado correcto"
          schema:
            items:
              $ref: "#/definitions/Fertilizante"
        "405":
          description: "Invalid input"
        "403":
          description: "Sin acceso al equipo"
  /equipos/{id_equipo}/general:
    get:
      tags:
      - "General"
      summary: "Obtener General equipo"
      description: ""
      operationId: "getGeneral"
      consumes:
      - "application/json"
      parameters:
      - name: "id_equipo"
        in: "path"
        description: "ID del equipo"
        required: true
        type: "integer"
        maximum: 99999
        minimum: 1
        format: "int64"
      responses:
        "405":
          description: "Invalid input"
        "200":
          description: "Consulta General encontrado"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/General"
        "403":
          description: "Sin acceso al equipo"
    post:
      tags:
      - "General"
      summary: "Obtener General equipo"
      description: ""
      operationId: "postGeneral"
      consumes:
      - "application/json"
      parameters:
      - name: "id_equipo"
        in: "path"
        description: "ID del equipo"
        required: true
        type: "integer"
        maximum: 99999
        minimum: 1
        format: "int64"
      - in: "body"
        name: "body"
        description: "Objeto General a enviar"
        required: true
        schema:
          $ref: "#/definitions/General"
      responses:
        "405":
          description: "Invalid input"
        "200":
          description: "Consulta General encontrado"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/General"
        "403":
          description: "Sin acceso al equipo"
  /equipos/{id_equipo}/fueraservicio:
    post:
      tags:
      - "Acciones manuales"
      summary: "Enviar orden fuera de servicio al equipo (on/off)"
      description: ""
      operationId: "postFueraServicio"
      consumes:
      - "application/json"
      parameters:
      - name: "id_equipo"
        in: "path"
        description: "ID del equipo"
        required: true
        type: "integer"
        maximum: 99999
        minimum: 1
        format: "int64"
      - in: "body"
        name: "body"
        description: "Tipo de acción a enviar"
        required: true
        schema:
          type: "object"
          properties:
            valor: 
              description: "true: Poner en fuera de servicio, false: Salir de fuera de servicio"
              type: "boolean"
              default: true
      responses:
        "405":
          description: "Invalid input"
        "200":
         description: "Acción enviada"
        "403":
          description: "Sin acceso al equipo"
  /equipos/{id_equipo}/stop:
      post:
        tags:
        - "Acciones manuales"
        summary: "Enviar order de paro al equipo (on/off)"
        description: ""
        operationId: "postStop"
        consumes:
        - "application/json"
        parameters:
        - name: "id_equipo"
          in: "path"
          description: "ID del equipo"
          required: true
          type: "integer"
          maximum: 99999
          minimum: 1
          format: "int64"
        - in: "body"
          name: "body"
          description: "Tipo de acción a enviar"
          required: true
          schema:
            type: "object"
            properties:
              value: 
                description: "true: Poner en paro, false: Salir del paro"
                type: "boolean"
                default: true
        responses:
          "405":
            description: "Invalid input"
          "200":
           description: "Acción enviada"
          "403":
            description: "Sin acceso al equipo"
  /equipos/{id_equipo}/cambiofecha:
      post:
        tags:
        - "Acciones manuales"
        summary: "Cambio de fecha y hora del equipo"
        description: ""
        operationId: "postReloj"
        consumes:
        - "application/json"
        parameters:
        - name: "id_equipo"
          in: "path"
          description: "ID del equipo"
          required: true
          type: "integer"
          maximum: 99999
          minimum: 1
          format: "int64"
        - in: "body"
          name: "body"
          description: "Tipo de acción a enviar"
          required: true
          schema:
            type: "object"
            properties:
              valor: 
                description: "Fecha y hora para enviar al equipo (DD/MM/yyyy HH:mm)"
                type: "string"
                format: "date-time"
        responses:
          "405":
            description: "Invalid input"
          "200":
           description: "Acción enviada"
          "403":
            description: "Sin acceso al equipo"
  /equipos/{id_equipo}/sensoresanalogicos:
    get:
      tags:
      - "Sensores"
      summary: "Obtener array de Sensores analogicos"
      description: ""
      operationId: "getSensoresAnalogicos"
      produces:
      - "application/json"
      parameters:
      - name: "id_equipo"
        in: "path"
        description: "ID del equipo"
        required: true
        type: "integer"
        maximum: 99999
        minimum: 1
        format: "int32"
      responses:
        "405":
          description: "Invalid input"
        "200":
          description: "Sensores analogicos encontrados"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/SensorAnalogico"
  /equipos/{id_equipo}/sensoresanalogicos/{id_sensor}:
    get:
      tags:
      - "Sensores"
      summary: "Obtener Sensor analogico por ID"
      description: ""
      operationId: "getSensorAnalogicoId"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id_equipo"
        in: "path"
        description: "ID del equipo"
        required: true
        type: "integer"
        maximum: 99999
        minimum: 1
        format: "int64"
      - name: "id_sensor"
        in: "path"
        description: "ID del sensorr"
        required: true
        type: "integer"
        maximum: 20
        minimum: 1
        format: "int32"
      responses:
        "405":
          description: "Invalid input"
        "200":
          description: "Sensor encontrado"
          schema:
              $ref: "#/definitions/SensorAnalogico"
    post:
      tags:
      - "Sensores"
      summary: "Enviar sensor analogico al equipo"
      description: ""
      operationId: "enviarSensorAnalogico"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "id_equipo"
        in: "path"
        description: "ID del equipo"
        required: true
        type: "integer"
        maximum: 99999
        minimum: 1
        format: "int64"
      - name: "id_sensor"
        in: "path"
        description: "ID del sensor"
        required: true
        type: "integer"
        maximum: 20
        minimum: 1
        format: "int32"
      - in: "body"
        name: "body"
        description: "Objeto del sensor a enviar"
        required: true
        schema:
          $ref: "#/definitions/SensorAnalogico"
      responses:
        "200":
          description: "Guardado correcto"
          schema:
            items:
              $ref: "#/definitions/SensorAnalogico"
        "405":
          description: "Invalid input"
        "403":
          description: "Sin acceso al equipo"
definitions:
  Fertilizante:
    type: "object"
    properties:
      id: 
        type: "integer"
        format: "int32"
        default: 1
        readOnly: true
      idEquipo:
        type: "integer"
        format: "int32"
        default: 1
        readOnly: true
      comptador:
        type: "integer"
        format: "int32"
        default: 0
      salida:
        type: "integer"
        format: "int32"
        default: 0
      caudalPrevisto:
        type: "integer"
        format: "int32"
        default: 0
      tipoUnidadFert:
        type: "integer"
        format: "int32"
        default: 0
        description: "[0:hh:mm, 1:litros, 2:litros/hectarea, 3:mm:ss]"
      usuario:
        type: "integer"
        format: "int32"
        description: "Que usuario lo esta utilizando (0:todos, 1-N usuario)"
        default: 0
      estado: 
        type: "integer"
        format: "int32"
        description: "[0: Parado, 1: Activo]"
        default: 0
        readOnly: true
      modificado: 
        type: "integer"
        format: "int32"
        description: "[0:Modificado Pc, 1:Enviando, 2:Enviado, 3:Modificado equipo]"
        default: 0
        readOnly: true
      fechaModificado:
        type: "string"
        format: "date-time"
        readOnly: true
  General:
    type: "object"
    properties:
      id: 
        type: "integer"
        format: "int32"
        default: 1
        readOnly: true
      idEquipo:
        type: "integer"
        format: "int32"
        default: 1
        readOnly: true
      periodoActivo:
        type: "boolean"
        default: false
        description: "Descripción periodo activo"
      horarioActivo:
        type: "boolean"
        default: false
        description: "Descripción horario activo"
      activaciones:
        type: "boolean"
        default: false
        description: "Descripción activaciones"
      volumenTiempo:
        type: "boolean"
        default: false
        description: "Descripción..."
      decimalesRiego:
        type: "integer"
        format: "int32"
        default: 0
        description: "Descripción..."
      decimalesFert:
        type: "integer"
        format: "int32"
        default: 0
        description: "Descripción..."
      salidaAlarma:
        type: "integer"
        format: "int32"
        default: 0
        description: "Descripción..."
      estadoAlarma:
        type: "integer"
        format: "int32"
        default: 0
        readOnly: true
        description: "Descripción..."
      modificado: 
        type: "integer"
        format: "int32"
        description: "[0:Modificado Pc, 1:Enviando, 2:Enviado, 3:Modificado equipo]"
        default: 0
        readOnly: true
      fechaModificado:
        type: "string"
        format: "date-time"
        readOnly: true
  SensorAnalogico:
   type: "object"
   properties:
      id: 
        type: "integer"
        format: "int32"
        default: 1
        readOnly: true
      idEquipo:
        type: "integer"
        format: "int32"
        default: 1
        readOnly: true
      entrada:
        type: "integer"
        format: "int32"
        default: 0
      formato:
        type: "integer"
        format: "int32"
        default: 0
        minimum: 0
        maximum: 40
        description: "min:0,max:40"
      tara:
        type: "integer"
        format: "int32"
        default: 0
        description: "Valor que permite ajustar el sensor a las  condiciones reales. Restricciones: Misma unidad que el formato seleccionado"
      tiempoEntreLecturas:
        type: "integer"
        format: "int32"
        default: 0
        description: "Tiempo en minutos de lectura del sensor"
      tiempoLectura:
        type: "integer"
        format: "int32"
        default: 0
        minimum: 1
        maximum: 99
        description: "Tiempo en decimas de segundo de lectura del sensor"
      alimentacion:
        type: "integer"
        format: "int32"
        default: 0
        description: "[0:LATCH_12, 1:LATCH_22, 2:LATCH_6, 3:LATCH_9]"
      salidaVcc:
        type: "integer"
        format: "int32"
        default: 0
      nombre:
        type: "string"
      estado: 
        type: "integer"
        format: "int32"
        description: "[0: Parado, 1: Activo, 2: ERROR MAX, 3: ERROR MIN, 4: ERROR]"
        default: 0
        readOnly: true
      lectura:
        type: "number"
        default: 0
        description: "Valor de lectura instantaneo del sensor"
        readOnly: true
      unidad:
        type: "string"
        description: "Unidad del formato del sensor"
        readOnly: true
      modificado: 
        type: "integer"
        format: "int32"
        description: "[0:Modificado Pc, 1:Enviando, 2:Enviado, 3:Modificado equipo]"
        default: 0
        readOnly: true
      fechaModificado:
        type: "string"
        format: "date-time"
        readOnly: true
  ApiResponse:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      type:
        type: "string"
      message:
        type: "string"
